@page "/bank-operations"

@using Helpers
@using Services
@using DTOs.Common
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime
@inject IServiceScopeFactory serviceScopeFactory
@inject DateService dateService

@inject NavigationManager NavigationManager

<div class="container-fluid">
  <div class="d-flex justify-content-between m-5">
    <h1>Bank Operations</h1>

    <div class="btn-group">
      <button class="btn btn-primary btn-lg p-3" @onclick="@(() => CloseBankDay())" @onclick:preventDefault>
        @if (Spinner)
        {
          <span class="spinner-border spinner-border-sm p-2 mr-2" role="status" aria-hidden="true" />
        }
        Close Bank
      </button>

      <div class="btn-group">
        <button class="btn btn-primary btn-lg p-3 dropdown-toggle" data-toggle="dropdown">
          @BankClosingTerm
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" @onclick="@(() => { GetClosingDaysCount = () => 1; BankClosingTerm = "Day"; })" @onclick:preventDefault>Day</a>
          <a class="dropdown-item" @onclick="@(() => { GetClosingDaysCount = () => dateService.Today.DaysInMonth() - dateService.Today.Day + 1; BankClosingTerm = "Month"; })" @onclick:preventDefault>Month</a>
          <a class="dropdown-item" @onclick="@(() => { GetClosingDaysCount = () => (new DateTime(dateService.Today.Year + 1, 1, 1) - dateService.Today).Days; BankClosingTerm = "Year"; })" @onclick:preventDefault>Year</a>
        </div>
      </div>

      <button class="btn btn-outline-primary btn-lg p-3" disabled>@CurrentDate</button>
    </div>
  </div>

  <div>
    @if (_bankAccounts is not null && _bankAccounts.Count > 0)
    {
      <table class="table table-bordered table-hover mb-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Debit</th>
            <th scope="col">Credit</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>

        <tbody>
          @foreach (var account in _bankAccounts)
          {
            <tr>
              <th scope="row">@account.Number</th>
              <td>@account.AccountPlanName</td>
              <td>@account.DebitValue</td>
              <td>@account.CreditValue</td>
              <td>@account.Balance</td>
            </tr>
          }
        </tbody>
      </table>

      if (!Result.Success)
      {
        <div class="alert alert-danger" role="alert">
          @Result.Message
        </div>
      }
    }
    else if (_bankAccounts is null)
    {
      <div class="d-flex justify-content-center m-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    }
    else
    {
      <blockquote class="blockquote m-5">
        <p class="mb-0">There are no bank's accounts in your bank...</p>
        <footer class="blockquote-footer"><cite>I recommend you to add them.</cite></footer>
      </blockquote>
    }
  </div>

  <h1 class="m-5">Deposit Accounts</h1>
  <div>
    @if (_depositAccounts is not null && _depositAccounts.Count > 0)
    {
      <table class="table table-bordered table-hover mb-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Debit</th>
            <th scope="col">Credit</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>

        <tbody>
          @foreach (var account in _depositAccounts)
          {
            <tr>
              <th scope="row">@account.Number</th>
              <td>@account.AccountPlanName</td>
              <td>@account.DebitValue</td>
              <td>@account.CreditValue</td>
              <td>@account.Balance</td>
            </tr>
          }
        </tbody>
      </table>
    }
    else if (_depositAccounts is null)
    {
      <div class="d-flex justify-content-center m-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    }
    else
    {
      <blockquote class="blockquote m-5">
        <p class="mb-0">There are no deposit accounts in your bank...</p>
      </blockquote>
    }
  </div>

  <h1 class="m-5">Credit Accounts</h1>

  <div>
    @if (_creditAccounts is not null && _creditAccounts.Count > 0)
    {
      <table class="table table-bordered table-hover mb-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Debit</th>
            <th scope="col">Credit</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>

        <tbody>
          @foreach (var account in _creditAccounts)
          {
            <tr>
              <th scope="row">@account.Number</th>
              <td>@account.AccountPlanName</td>
              <td>@account.DebitValue</td>
              <td>@account.CreditValue</td>
              <td>@account.Balance</td>
            </tr>
          }
        </tbody>
      </table>
    }
    else if (_creditAccounts is null)
    {
      <div class="d-flex justify-content-center m-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    }
    else
    {
      <blockquote class="blockquote m-5">
        <p class="mb-0">There are no credit accounts in your bank...</p>
      </blockquote>
    }
  </div>

  <div class="toast alert alert-success m-5" style="position: fixed; bottom: 0; right: 0;" data-delay="3500">
    <div class="toast-header">
      <strong class="mr-auto">Day closed</strong>
      <small>@(DateTime.Now.ToShortTimeString())</small>
    </div>
    <div class="toast-body">
      Bank @BankClosingTerm closed successfully.
    </div>
  </div>
</div>

@code
{
  private IReadOnlyList<AccountDto> _bankAccounts = null;
  private IReadOnlyList<AccountDto> _depositAccounts = null;
  private IReadOnlyList<AccountDto> _creditAccounts = null;
  private bool Spinner = false;
  private DTOs.ResultDto Result = new DTOs.ResultDto { Success = true };
  private string CurrentDate = String.Empty;
  private Func<int> GetClosingDaysCount = () => 1;
  private string BankClosingTerm = "Day";

  private DateTime temp = DateTime.Today;

  protected override async Task OnInitializedAsync()
  {
    await RefreshData();
    await base.OnInitializedAsync();
  }

  private async Task RefreshData()
  {
    using var scope = serviceScopeFactory.CreateScope();
    var accountsService = scope.ServiceProvider.GetService<AccountsService>();
    CurrentDate = dateService.Today.ToShortDateString();

    _bankAccounts = await accountsService.GetBankAccountsAsync();
    _depositAccounts = await accountsService.GetDepositAccountsAsync();
    _creditAccounts = await accountsService.GetCreditAccountsAsync();
  }

  private async Task CloseBankDay()
  {
    using var scope = serviceScopeFactory.CreateScope();
    var bankOperationsService = scope.ServiceProvider.GetService<BankOperationsService>();

    Result = await bankOperationsService.CloseDaysAsync(GetClosingDaysCount());

    if (Result.Success)
    {
      await JSRuntime.InvokeVoidAsync("ShowToast", ".toast");
      await RefreshData();
    }
  }
}
